    /* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
    
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
     :root {
        --bg-color: #F0F0EE;
        --primary-color: #352722;
        --primary-color-alt: hsl(28, 72%, 83%);
        --second-color: #3e537c;
        --second-color-alt: hsla(220, 33%, 36%, 65%);
        --third-color: hsl(220, 36%, 28%);
        --white-color: #fbfbfb;
        --white-color-alt: hsl(12, 14%, 93%);
        --dark-color: hsl(300, 100%, 0%);
    }
    
    body {
        font-family: "Outfit", sans-serif;
        /* font-size: 1rem; */
        background-color: var(--bg-color);
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        width: 100vw !important;
    }
    
    ul {
        margin-top: 0;
        margin-bottom: unset;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .user-profile {
        width: 30px;
        height: 30px;
    }
    
    .nav-link.img {
        padding: 0rem 0rem;
    }
    
    .bx {
        font-size: 2.5rem;
    }
    
    .container {
        padding: 0 2rem;
    }
    /* -- BODY -- */
    /* ================= HEADER ================ */
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--primary-color);
        color: #352722;
        padding: 1rem 2rem;
    }
    
    .logo-holder {
        z-index: 15;
    }
    
    .company-logo {
        color: #352722;
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: none !important;
        /* background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color)); */
    }
    
    .company-logo:hover {
        color: #352722;
    }
    
    .white-nav {
        color: white;
    }
    
    .nav-items {
        display: flex;
    }
    
    .nav-item {
        margin: 0 0.6rem;
        font-weight: 400;
    }
    
    .nav-link {
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        position: relative;
        color: var(--primary-color);
        /* background: -webkit-linear-gradient( var(--primary-color-alt), var(--primary-color)); */
        /* -webkit-background-clip: text; */
        /* -webkit-text-fill-color: transparent; */
    }
    
    .fa,
    .fas {
        font-weight: 900;
        font-size: 2rem;
        color: #016E40;
    }
    
    .nav-link::before {
        content: "";
        /* background: linear-gradient(var(--primary-color), var(--primary-color-alt)); */
        width: 100%;
        height: 0.05rem;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 150ms;
    }
    
    .nav-link:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    
    .menu-toggle {
        display: none;
    }
    
    .bx-menu,
    .bx-x {
        cursor: pointer;
        /* background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color)); */
        /* -webkit-background-clip: text; */
        /* -webkit-text-fill-color: transparent; */
        display: none !important;
    }
    
    .profile-icon {
        width: 30px;
        height: 30px;
        color: #fbfbfb !important;
        background-color: #fbfbfb !important;
    }
    /* =============== MEDIA QUERIES ======= */
    
    @media screen and (max-width: 1030px) {
        .container {
            padding: 0 1rem;
        }
        .company-logo {
            font-size: 2.5rem;
            z-index: 10;
        }
        /* ================= HEADER ================ */
        header {
            padding: 0.5rem 1rem;
        }
        .navbar {
            background-color: var(--dark-color);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 500ms;
        }
        .show-navbar {
            display: flex;
            transform: scaleY(1);
            transform-origin: top;
            transition: transform 300ms;
            z-index: 10;
        }
        .nav-items {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
        }
        .nav-item {
            margin: 0.5rem 0;
        }
        .nav-link {
            color: white;
        }
        .menu-toggle {
            display: block;
            z-index: 10;
        }
        .bx-menu {
            display: block !important;
        }
        .show-bx {
            display: block !important;
            color: white;
        }
        .hide-bx {
            display: none !important;
        }
    }
    
    @media (min-width: 1030px) {
        header {
            z-index: 10;
            padding: 1rem 3rem;
        }
    }
    
    @media screen and (max-width: 415px) {
        .company-logo {
            font-size: 2.0rem;
            font-weight: 700;
        }
    }
    /* end nav */
    
    main {
        padding: 0 3rem;
    }
    
    .elements-holder {
        display: flex;
    }
    
    .welcome-message {
        margin-top: 3rem;
    }
    
    .box1 {
        /* width: 64rem; */
        width: 67.5vw;
        height: 21rem;
        background-color: white;
        display: flex;
        border-radius: 2px;
    }
    
    aside {
        position: absolute;
        right: 5%;
        top: 25%;
        margin-top: 1.5rem;
    }
    
    .user-name {
        font-weight: 600;
        padding-bottom: 1.1rem;
        letter-spacing: 0.9px;
    }
    
    .email,
    .mobile,.points {
        font-size: 1.4rem;
        font-weight: 500;
    }
    
    span {
        font-size: 1rem;
        color: #828282E5;
        opacity: 0.9;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    
    .acc-card {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        height: 87%;
        border-radius: 4px;
        border: 1px rgba(130, 130, 130, 0.9) solid;
        box-shadow: 4px 4px 12px rgb(130, 130, 130, 0.9);
        margin-left: 20px;
    }
    
    .card-img {
        border-radius: 4px 4px 0px 0px;
        width: 300px;
        height: 200px;
    }
    
    .card-p {
        margin: 5px;
        font-weight: 500;
        max-width: 800px;
    }
    
    .box-content {
        margin-top: 15px;
        /* display: initial;
    position: relative;
    left: 20px; */
        margin-left: 20px;
    }
    
    .box-content>p {
        max-width: 800px;
    }
    
    .supply-btn {
        padding: 5px 50px;
        font-size: 1.1rem;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        color: white;
        background-color: #016E40;
    }
    
    .box2 {
        /* width: 64rem; */
        width: 67.5vw;
        height: 21.5rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin: 3rem 3rem;
    }
    
    .elements-holder2>* {
        margin: 5px -3px 0px 27px;
    }
    
    .elements-holder2 {
        display: inline-flex;
        flex-wrap: wrap;
        margin: -12px 0 0 -12px;
        width: calc(100% + 12px);
    }
    
    .elements-holder2 {
        display: inherit;
        justify-content: space-around;
        /* margin-top: 10px; */
        position: relative;
    }
    
    .elements-holder2>.box2-left-elements,
    .box2-middle-elements,
    .box2-right-elements {
        width: 31%;
    }
    
    .box2>.box2-middle-elements,
    .box2-left-elements {
        margin-top: 25px !important;
    }
    
    .box2-right-elements {
        background-image: url('../media/human-with-food.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: local;
    }
    
    .left-content-p {
        font-size: 1.1rem;
        font-weight: 400;
        max-width: 325px;
        margin-left: 20px;
    }
    
    .logo-word {
        margin-top: 70px;
        top: 50%;
        font-weight: 600;
        margin-left: 20px;
    }
    
    label {
        display: block;
        margin: 0;
        font-weight: 500;
    }
    
    label:not(.food-amount-label) {
        margin-top: 10px;
    }
    
    input {
        border-style: none none solid none;
        width: 85%;
        color: rgba(130, 130, 130, 0.7);
        border-color: rgba(130, 130, 130, 0.9);
        outline-style: none;
    }
    /* input:focus {
    display: none;
} */
    
    input[type="submit"] {
        width: 85%;
        margin-top: 25px;
        padding: 6px 0;
        background-color: #016E40;
        color: #fff;
        font-weight: 500;
        border: none !important;
        border-radius: 4px;
    }
    
    .acc-info-responsive {
        display: none;
    }
    
    @media (max-width: 1200px) {
        .box1,
        .box2 {
            width: 80vw;
        }
        aside {
            display: none;
        }
        .acc-info-responsive {
            display: flex;
            position: unset;
            right: unset;
            top: unset;
            margin-top: 1.5rem;
            gap: 0px 35px;
            flex-wrap: wrap;
        }
    }
    
    @media (max-width: 1000px) {
        .box1 {
            width: 90vw;
        }
        main {
            padding: 0.5rem 1rem;
        }
        .card-img {
            border-radius: 4px 4px 0px 0px;
            width: 250px;
        }
    }
    
    @media (max-width: 1000px) {
        .box2 {
            width: 90vw;
            /* padding: 0.5rem 1rem; */
            margin: 0.5rem 1rem;
        }
    }
    
    @media (max-width: 720px) {
        .box1,
        .box2 {
            width: 92vw;
        }
    }
    
    @media (max-width: 700px) {
        .box2 {
            height: 100%;
            flex-direction: column;
            align-items: unset;
            padding-bottom: 20px;
        }
        .elements-holder2>.box2-left-elements,
        .box2-middle-elements,
        .box2-right-elements {
            width: unset;
            margin-left: 30px;
        }
        .logo-word {
            margin-top: unset;
            top: unset;
        }
        .acc-card {
            margin-left: unset;
        }
    }
    
    @media (max-width: 600px) {
        .box1 {
            height: 100%;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
        }
        .acc-card {
            position: unset;
            top: unset;
            transform: unset;
            margin-top: 20px;
        }
        .card-img {
            width: 100%;
        }
    }